.highlight-python pre {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
    border-left: 5px solid #cccccc;
    border-radius: 3px;
}

.code.python.highlight-python pre {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
    border-left: 5px solid #bfc8ff;
    border-radius: 3px;
}
