a {
	color:#146acf;
	text-decoration: none;
}

a:visited {
    color:#146acf;
}

a:active {
    color:#146acf;
}

a:hover {
    color:#285D63;
}

@font-face {
	font-family: 'EvolutionTrueTypeFont';
	src: url('./fonts/evolutiontruetypefont-webfont.eot');
	src: url('./fonts/evolutiontruetypefont-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/evolutiontruetypefont-webfont.woff2') format('woff2'),
	     url('./fonts/evolutiontruetypefont-webfont.woff') format('woff'),
	     url('./fonts/evolutiontruetypefont-webfont.ttf') format('truetype'),
	     url('./fonts/evolutiontruetypefont-webfont.svg#evolutionevolution') format('svg');
	font-weight: normal;
	font-style: normal;
}

#logowrapper{
	width: 100%;
	
	top: 0px; 
	left: 0px;
	background-color:#323232;	
	/*background:rgba(243,243,243,0.7);*/
	    background-color: #343131;
    border-bottom: 2px solid #16a086;
    display: block;
	height:90px;
}

#logo{
	/*background: rgba(3,65,126,0.9);*/
	/*background: rgb(41,72,140);*/
	background:transparent;
	min-width: 1000px;
	height:90px;
	z-index:100000; 
	width: 100%;
	margin-left: auto; 
	margin-right: auto; 
	/*border-left: 1px solid rgb(192,192,192);
	border-right: 1px solid rgb(192,192,192);
	border-bottom: 1px solid rgb(192,192,192);*/
}

.acellera-logo{
	padding-top:10px;
	padding-bottom:10px;	
	float:right;
	line-height: 30px;
}
.acellera-logo img{
	height:30px;
	vertical-align:middle;
	padding-left:10px;
}

#logo #logologo{
box-sizing: border-box;
    color: white;
    float: left;
    font-family: "EvolutionTrueTypeFont";
    font-size: 55px;
    font-weight: 400;
    line-height: 90px;
    padding-left: 0.4045em;
    padding-top: 5px;
    width: 300px;
	
}
#logo sub{
	font-size:50%;
}
#logo .innerwrapper{
	width: 1100px;
    
    margin: 0 auto;
}

nav{

	float:right;
	width:40%;
}
nav li{
	list-style-type: none;
	float:left;
	font-size: 16px;
	font-weight:200;
	float:right;
	margin-top:34px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	color: white;
	padding-bottom:15px;
	background: none repeat scroll 0 0 rgb(69,182,154);
	border-left:1px solid rgba(0,0,0,0.1);
	
}

nav li:last-child{
	border-left:none;
}

nav li.selected{

	background-color:rgb(48,148,124);
}
nav li a{
	text-decoration:none;
color: white;
}
nav li.selected a{
	color:white;
}
nav li a:visited{
	color: white;
}
nav li.selected a:visited{
	color:white;
}
/*.menu-download{
	background-color: rgb(232,76,61);
}
.menu-forum{
	background-color: rgb(53,152,220);
}
.menu-documentation{
	background-color: rgb(27,188,157);
}
.menu-about{
	background-color: rgb(47,204,113);
}*/
nav li a:hover{
	color: rgba(255,197,18,0.6);
}

#logo #confidentiality{
	font-size: 13px;
	padding: 0px 0px 3px 15px;
	color: white;
}

#sidebarcontainer {
	float:left;
	
	width: 300px;
	border-right:1px solid rgba(0,0,0,0.1);
	border-bottom:2px solid rgba(0,0,0,0.1);
}

.f-sidebar{
	top:0;
	position: fixed;
}

#sidebar {
	height: 500px;
	width: 300px;
	padding-top: 10px;
}

#allbody {
	margin-left: auto; 
	margin-right: auto; 
	/*width: 65%; */
	width: 1100px;
	min-height: 540px;
	background-color: white;
	z-index: 100;
	/*border: 1px solid rgb(192,192,192);*/
	padding: 0px 0px 0px 0px;
	/*box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.25);*/
	border-radius:0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.docpart {
	float:left;
	padding-left: 50px;
	max-width: 800px;
	width:62%;
	padding-bottom: 30px;
	line-height: 20px;
	font-size: 13px;
	text-align: justify;
	padding-top:20px;
}
.docpart h2, .docpart h1{
	text-align:left;
	line-height:120%;
}
.docpart img{
	width:100%;
}

.docpart-pad{
	padding-left: 350px;
}

body {
	background:#F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
/*	background-image:url('../stylesheets/assets/footer_lodyas.png');*/

	background-repeat: repeat;
    background-attachment: fixed;

	/* fallback */
  	/*background-color: #B3B3B3;*/
  	
  	/* gradient */
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #B3B3B3),
		color-stop(1, #A3A3A3)
	);*/
	/*background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-repeat: no-repeat;*/
}

.code, .codeinput, .language-matlab {
	background: rgba(0, 0, 0, 0.04);
	border-left: 5px solid #BFC8FF;
	padding: 10px;
	border-radius: 3px;
    overflow: auto;
    box-shadow: -2px 0px 6px 0px #D6D6D6 inset;
}

.codeoutput {
	background: rgba(0, 0, 0, 0.04);
	border-left: 5px solid #CCCCCC;
	padding: 10px;
	border-radius: 3px;
    box-shadow: -2px 0px 6px 0px #D6D6D6 inset;
	overflow:auto;
}

/*footer {
	padding-left: 350px;
	padding-top: 40px;
	color: #C4C4C4;
}*/

#docpart img {
	max-width: 630px;
}

/* I add an invisible empty crap before my header links so that the relative links don't "headbutt" the page */
h2 a{
	display: block; 
	position: relative; 
	top: -120px; 
	visibility: hidden;
}

footer{
	height:50px;
	width: 1100px;
	margin: 0 auto;
	text-align:left;
	line-height:50px;
	color: rgba(0,0,0,0.4);

	
}

.content h1{
	text-align:left;
}
/* about */

.team-member-wrapper{
	width: 25%;
	box-sizing: border-box;
	float:left;
	padding:3%;
}

.member-portrait{
	height: 35%;
	background-size:cover;
	border:4px solid white;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.about-wrapper{
	width:80%;
	margin:0 auto;
  	position: relative;
}

.about-wrapper:after{
	padding-top: 60%;
  	/* 16:9 ratio */
  	display: block;
  	content: '';
}

.about-wrapper h1{
	padding-top:40px;
	font-weight: 200;
	font-size: 30px;
	margin-bottom:0;
	color: rgba(0,0,0,0.5);
}

#allbody.about{

	background-color:white;
	position:relative;
	min-height:1000px;
}

.member-name{
	margin-top:10px;
	font-size:15px;
	font-weight:200;
	text-transform:uppercase;
}

.member-range{
	margin-top:2px;
	font-size:13px;
	color: #146acf;
}

.about-wrapper .main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.search_input{
	width:250px;
	float:right;
	margin-top:18px;
	
}

.search_input .gsc-control-cse {
    background-color: transparent !important;
    border-color: transparent !important;
    font-family: Arial,sans-serif;
}

.search_input .gsc-search-button-v2{
	background-color:#16a086;
	border:1px solid #16a086;
	
}

.search_input .gsc-search-button-v2:hover{
	background-color: black;
}

.search_input table{
	min-width: 0px !important;
}

.search_input table td {
	padding: 0px;

}

.search_input .gsc-input-box{
	height:auto;
}

.search_input .gsc-input-box input{

	background: none !important;
	line-height: 22px;
}

.slicknav_menu{
	display:none;
}

a.button {
    border: 1px solid #16a086;
    border-radius: 800px;
    color: #16a086;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 40px auto 80px;
    padding: 10px 20px;
    text-align: center;
    transition: all 200ms ease-in 0s;
    width: 60%;
	margin:auto auto;
	margin-bottom: 20px;
	max-width:400px;	
margin-top:20px;
}

a.button:hover{
        background-color: #16A086;
        color:white !important;
        box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.6);
}
a.button:visited{
        color: #16A086;
}



@media (max-width: 1100px) {
	body{
		overflow-x:hidden;
	}
	#cssmenu ul#menu{
		display:none;
	}
	
	.slicknav_menu{
		display:block;
	}
	#logo{
		min-width:0;
		width:100%;
	}
	#logo .innerwrapper {
	    margin: 0 auto;
	    min-width: 0;
	    width: 95%;
	}
	#allbody {
	 /*   display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;*/
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	  }

	  #allbody #sidebarcontainer {
	    -webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	  }

	  #allbody .docpart {
	    -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	  }
        #sidebarcontainer{
		width:75%;

		box-sizing:border-box;

		margin-left:10px;
		margin-bottom:10px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
	#sidebar{
		width:100%;
		height:300px;	
	}
	#allbody{
		min-width:0;
		width:100%;
	}
	.docpart{
		max-width:1000000px;
		min-width:0;
		width:100%;
		padding-left:10px;
		padding-right:10px;
		box-sizing:border-box;	
	}

	#allbody table{

		min-width:0 !important;
	}
	footer{
		width:100%;	
	}
	.search_input {

	    margin-top: 14px;

	}
	.team-member-wrapper {
	    box-sizing: border-box;
	    float: left;
	    padding: 3%;
	    width: 100%;
	}
	.member-portrait {
	    background-size: cover;
	    border: 4px solid white;
	    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	    height: 90%;
	   width:50%;
		float:left;
	  box-sizing:border-box;
	}
	.member-name,.member-range{
		float:left;
		width:50%;
		padding-left:20px;
		box-sizing:border-box;
	}
}

@media (max-width:600px) {
	.search_input {
	    clear: both;
	    float: right;
	    margin-top: 0px;
	    width: 100%;
	}

	#logo #logologo {
		width:100%;
		text-align:center;
		height: 45px;	
	}
	a.button{
		width:80%;
	}

}


