numpy>=1.17
pyemma
natsort
joblib
scikit-learn
nglview
pandas>=1.1.2
pint
matplotlib
protocolinterface
networkx
numba
tqdm
moleculekit>=0.3.5
jobqueues
propka
mdtraj
openpyxl

#openbabel>=3.1.1 # Doesn't build on my computer
#psfgen # Only exists on conda
#acemd3 # Only exists on conda (cannot exist elsewhere since we don't ship source code and pip doesn't have channels for different CUDA versions)
#ambermini # Only exists on conda
#openmm # Pypi only has an ancient version. Cannot exist on PyPI either due to CUDA versions
#psi4 # Only exists on conda
#vina # Only exists on conda