/* TOC styles */
.site_container { padding-right:30px; }
/* .site_container.site_toc_closed { margin-left:175px; }
.site_container.site_toc_opened { margin-left:300px; } */

.site_container.navigation_off { margin-left:30px; }
.site_container.navigation_off .toc_pane { display:none; }
.site_container.navigation_off #search_crumb_container { display:none; }
.site_container.navigation_off .content_container { padding-top:15px; }

/* .toc_pane { padding-top:10px; font-size:1.05em; float:left; position:absolute; left:0px; } */
.toc_pane { padding-top:10px; font-size:1.05em; float:left}

.page_container { width:100%; float:left; }

.toc_container_wrapper { background:#f3f5f8; }
.toc_container_wrapper {
	box-shadow:3px 3px 3px 0px rgba(0,0,0,.25);
	-moz-box-shadow:3px 3px 3px 0px rgba(0,0,0,.25);
	-webkit-box-shadow:3px 3px 3px 0px rgba(0,0,0,.25);
}

.toc_header { width:100%; height:200px; /*float:left;*/ margin:0px; line-height:100%; overflow:hidden; }
.toc_header h3 { padding:9px 0px 0px 12px; margin:0px; font-size:1.4em; font-weight:normal; line-height:100%; color:#515151; }
.toc_icon { width:25px; height:20px; padding:6px 2px 6px 3px; margin:0px; background:#c2cdda url(./img/ico-toc-collapsed.png) no-repeat center center; display:block; cursor:pointer; float:right; }

.toc_scroll_pane { width:100%; height:100%; overflow:hidden; position:relative; }

.toc_container { width:100%; padding:5px 17px 0px 0px; float:left; overflow-x:hidden; overflow-y:scroll; position:absolute; top:0px; right:0px; bottom:0px; left:0px;  }
.toc_container ul { width:100%; margin:0px; padding:0px; }
.toc_container li { padding:0px 0px 0px 12px; margin:0px; background:transparent; }
.toc_container div.hovering { background-color:#dbdbdb; cursor:pointer; }
.toc_container div.node_element { position:relative; overflow:hidden; }
.toc_container div.node_element { padding:0px 0px 0px 14px; }
.toc_container div.node_element div.text_wrapper { width:100%; min-height:17px; padding:3px 0px 0px; word-wrap:break-word; float:left; }
.toc_container div.node_element div.text_wrapper a { padding:0px 10px 3px 3px; display:block; }
.toc_container div.node_element div.img_wrapper { width:13px; height:20px; margin:0px 0px 0px -15px; float:left; }

.toc_container:hover { padding-right:17px; }

.toc_doc_center_home { padding:3px; margin-left:9px; }
.toc_doc_center_home:hover { background:#dbdbdb; }

/* Immediate child selector is used since there could be many lists under one list, and we want only the first immediate child to have a collapsed or expanded icon */
.toc_container li.toc_expanded > div.node_element div.img_wrapper { background:transparent url(./img/bg_expanded.gif) no-repeat center center; }
.toc_container li.toc_collapsed > div.node_element div.img_wrapper { background:transparent url(./img/bg_collapsed.gif) no-repeat center 6px; }
.toc_container li.toc_expanded > div.node_element div.img_wrapper.hovering { background:#dbdbdb url(./img/bg_expanded.gif) no-repeat center center; }
.toc_container li.toc_collapsed > div.node_element div.img_wrapper.hovering { background:#dbdbdb url(./img/bg_collapsed.gif) no-repeat center 6px; }

/* Used initially, when page loads */
.toc_container li.toc_collapsed > ul { display:none; }
.toc_container li.toc_expanded > ul { display:block; }
.toc_container a:visited { color:#005fce; }
.toc_container a:hover { text-decoration:none; }
.toc_container li.current_page > div.node_element div.text_wrapper { background-color:#3f74c1; }
.toc_container li.current_page > div.node_element div.text_wrapper a { color:#fff; }

/* Open - Closed States */
.site_toc_opened .toc_pane { min-width:300px; max-width:300px; }
.site_toc_closed .toc_pane { min-width:60px; max-width:60px; }

.site_toc_opened .toc_container_wrapper { width:270px; }
.site_toc_closed .toc_container_wrapper { width:30px; }

.site_toc_closed .toc_header { background:transparent no-repeat center 38px; }
.site_toc_closed .toc_header:lang(en) { background-image:url(./img/txt-contents-collapsed.png); }
.site_toc_closed .toc_header:lang(ja_JP) { background-image:url(./img/txt-contents-collapsed_ja_JP.png); }
.site_toc_closed .toc_header:lang(ko_KR) { background-image:url(./img/txt-contents-collapsed_ko_KR.png); }
.site_toc_closed .toc_header:lang(zh_CN) { background-image:url(./img/txt-contents-collapsed_zh_CN.png); }

.site_toc_closed .toc_header h3 { display:none; }
.site_toc_opened .toc_header { height:auto; background:#c2cdda none; }

.site_toc_opened .toc_icon { padding-right:6px; background:#c2cdda url(./img/ico-toc-expanded.png) no-repeat center center; }

.site_toc_opened .toc_container { display:block; }
.site_toc_closed .toc_container { display:none; }

div.progress_bar { height:12px; background:transparent url(/images/nextgen/doc_center/progress.gif) no-repeat left top; position:relative; top:5px; left:5px; }

.toc_scroll_pane .toc_container:focus { outline:thin dotted; }
.toc_scroll_pane .toc_container::-webkit-scrollbar { visibility:hidden; }
.has-scrollbar .toc_container::-webkit-scrollbar { visibility:visible; }
.toc_scroll_pane > .pane { width:17px; background:#e8eaed; position:absolute; top:0px; right:0px; bottom:0px; visibility:hidden\9; opacity:0.01; }
.toc_scroll_pane > .pane > .slider { margin:0px 3px; background:#c2cdda; position:relative; }
.toc_scroll_pane:hover > .pane, .pane.active, .pane.flashed { visibility:visible\9; opacity:0.99; }

/* TOC Position Fixes - To Be Reverted */
.toc_pane { font-size:0px; line-height:0px; }
.toc_pane .toc_pane { padding-top:0px; }
.toc_container_wrapper { font-size:11px; line-height:130%; }


/****** Stefan's CSS *******/

#toc { }
#docpart {  }
#allbody {
	margin-left: auto; 
	margin-right: auto; 
	width: 60%; 
	min-width: 980px;
	background-color: white;
	z-index: 100;
	border: 1px solid rgb(192,192,192);
	padding: 10px 10px 10px 0px;
}

body {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(1, #B3B3B3),
	color-stop(1, #A3A3A3)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
}

html, body {
	min-height: 100%;
}

.toc_container_wrapper {max-height: 500px !important}
.toc_container {max-height: 500px !important}
