.toggle_img {
	cursor: pointer;
	border: none;
	width: 10px;
	height: 10px;
	float: left;
	padding-right: 10px;
    padding-top: 5px;
}

#sidebar {
	overflow: hidden;
	/*background: rgb(243,245,248);*/
	/*background:#f6f7fa;*/
	background: rgba(22,160,134,0.1);
	position: relative;
	margin: 0px auto;
	padding: 0px;
	font-size: 13px;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 25px;
}
#sidebar a, u {
	text-decoration: none;
}
#sidebar a {
	color: #146ACF;
}/* unvisited link */
#sidebar a:visited {
	color: #146ACF;
}/* visited link */
#sidebar a:hover {
	background-color: #DBDBDB;
	color: #146ACF;
}/* mouse over link */
#sidebar a:active {
	color: #146ACF;
}/* selected link */

#sidebartitle {
	color: #515151;
color: white;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    padding: 9px 0 10px 12px;
   /* background-color: #C2CDDA;*/
	/*background-color: #a9b5d1;*/
	background-color: rgb(22,160,134);
}

#sidebarcontent {
	padding: 0;
	margin-top: 0;
	margin-left: -20px;
}

#sidebarcontent li {
	padding: 0;
	margin: 0;
}

#sidebarcontent {
	padding: 0 0 0 24px;
	margin: 0;
	margin-left: -20px;
}

#sidebarcontent li {
	padding: 2px 0;
	margin: 0;
}

