a { color:#005fce; text-decoration:none; }
a:hover { color:#005fce; text-decoration:underline; }
a:visited { color:#004aa0; text-decoration:none; }
a:hover { text-decoration:underline; }
a:focus, a:active { outline:none } /* Removes FF 3 Image Link Outline */

ul { padding:0px; margin:0px 0px 20px 0px; list-style:none; }
ul li { padding:0px 0px 0px 18px; margin:0px 0px 7px 0px; list-style-type:none; background:transparent url(/images/nextgen/global/pic_global_bullet.gif) no-repeat 0px 7px; }
ul li ul { padding:5px 0px 0px; margin:0px 0px 7px 0px; }
ul li ul li { background:transparent url(/images/nextgen/global/pic_global_bullet_dash.gif) no-repeat 0px 9px;}
ol { padding:0px; margin:0px 0px 20px 0px; list-style:decimal; }
ol li { padding:0px 0px 0px 4px; margin:0px 0px 7px 23px; list-style-type:decimal; background:none; }
ol li ol li { list-style-type:lower-alpha; }
ol li ul { padding-top:7px; }
ol li ul li { padding:0px 0px 0px 18px; margin:0px 0px 7px 0px; list-style-type:none; background:transparent url(/images/nextgen/global/pic_global_bullet.gif) no-repeat 0px 7px; }

ul.pdf_list li { padding-left:20px; background-image:url(/images/nextgen/global/pic_global_bullet_pdf.png); background-position:0px 1px; }
ul.checked_list li { padding-left:28px; background-image:url(/images/nextgen/global/ico-check.png); background-position:0px 1px; }

ul.linklist li { padding:0px; background:none; }
ul.unbulleted_list li { padding:0px; background:none !important; }
ul.cta_icon_list li { padding:0px; margin:0px; background:none; }
ul.bulleted_list li { padding:0px 0px 0px 18px; background:transparent url(/images/nextgen/global/pic_global_bullet.gif) no-repeat 0px 7px; }
ul.cta_list li { padding:0px 0px 0px 10px; margin:0px 0px 3px 0px; background: url("/images/nextgen/global/bg_cta.gif") no-repeat scroll 0 7px transparent;}

ul.anchor_nav li { padding-left:10px; background:none; }
ul.anchor_nav li a { text-decoration:none; }

ul.social_media_list { margin:0px; }
