a {
	color:#146acf;
	text-decoration: none;
}

a:visited {
    color:#146acf;
}

a:active {
    color:#146acf;
}

a:hover {
    color:#285D63;
}

@font-face {
	font-family: 'EvolutionTrueTypeFont';
	src: url('./fonts/evolutiontruetypefont-webfont.eot');
	src: url('./fonts/evolutiontruetypefont-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/evolutiontruetypefont-webfont.woff2') format('woff2'),
	     url('./fonts/evolutiontruetypefont-webfont.woff') format('woff'),
	     url('./fonts/evolutiontruetypefont-webfont.ttf') format('truetype'),
	     url('./fonts/evolutiontruetypefont-webfont.svg#evolutionevolution') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bx-viewport{
	overflow:visible !important;
}
#logowrapper{
	width: 100%;
	
	top: 0px; 
	left: 0px;
	height:90px;
	border-bottom: 2px solid #16a086;
    display: block;
	/*background:rgba(243,243,243,0.7);*/
}

#logo{
	/*background: rgba(3,65,126,0.9);*/
	/*background: rgb(41,72,140);*/
	background:transparent;
	min-width: 1000px;
	height:90px;
	z-index:100000; 
	width: 100%;
	margin-left: auto; 
	margin-right: auto; 
	/*border-left: 1px solid rgb(192,192,192);
	border-right: 1px solid rgb(192,192,192);
	border-bottom: 1px solid rgb(192,192,192);*/
}

.acellera-logo{
	padding-top:10px;
	padding-bottom:10px;	
	float:right;
	line-height: 30px;
}
.acellera-logo img{
	height:30px;
	vertical-align:middle;
	padding-left:10px;
}

#logo #logologo{
	font-family: 'EvolutionTrueTypeFont';
	box-sizing: border-box;
    font-family: "EvolutionTrueTypeFont";
    font-size: 55px;
    padding-left: 0.4045em;
    padding-top: 5px;
    width: 300px;	 
	color:white;
	    color: white;
    float: left;
    font-weight: 400;
    line-height: 90px;
	
}
#logo sub{
	font-size:50%;
}
#logo .innerwrapper{
    width: 1100px;
    margin: 0 auto;
}

nav{

	float:right;
	width:40%;
}
nav li{
	list-style-type: none;
	float:left;
	font-size: 16px;
	font-weight:200;
	float:right;
	margin-top:34px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	color: white;
	padding-bottom:15px;
	background: none repeat scroll 0 0 rgb(69,182,154);
	border-left:1px solid rgba(0,0,0,0.1);
	
	
}

nav li:last-child{
	border-left:none;
}

nav li.selected{

	background-color:rgb(48,148,124);
}
nav li a{
	text-decoration:none;
color: white;
}
nav li.selected a{
	color:white;
}
nav li a:visited{
	color: white;
}
nav li.selected a:visited{
	color:white;
}
/*.menu-download{
	background-color: rgb(232,76,61);
}
.menu-forum{
	background-color: rgb(53,152,220);
}
.menu-documentation{
	background-color: rgb(27,188,157);
}
.menu-about{
	background-color: rgb(47,204,113);
}*/
nav li a:hover{
	color: rgba(255,197,18,0.6);
}

#logo #confidentiality{
	font-size: 13px;
	padding: 0px 0px 3px 15px;
	color: white;
}

#sidebarcontainer {
	float:left;
	
	width: 300px;
	border-right:1px solid rgba(0,0,0,0.1);
	border-bottom:2px solid rgba(0,0,0,0.1);
}

.f-sidebar{
	top:0;
	position: fixed;
}

#sidebar {
	height: 500px;
	width: 300px;
	padding-top: 10px;
}

#allbody {
	margin-left: auto; 
	margin-right: auto; 
	width: 65%; 
	min-width: 1000px;
	min-height: 540px;
	background-color: white;
	z-index: 100;
	/*border: 1px solid rgb(192,192,192);*/
	padding: 0px 0px 0px 0px;
	/*box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.25);*/
	border-radius:0px;
}

.docpart {
	float:left;
	padding-left: 50px;
	max-width: 637px;
	padding-bottom: 30px;
	line-height: 20px;
	font-size: 13px;
	text-align: justify;
	padding-top:20px;
}

.docpart-pad{
	padding-left: 350px;
}

.search_input .gsc-input-box input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    line-height: 22px;
}

body {
	background:#323232;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
/*	background-image:url('../stylesheets/assets/footer_lodyas.png');*/
	background-repeat: repeat;

	/* fallback */
  	/*background-color: #B3B3B3;*/
  	
  	/* gradient */
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #B3B3B3),
		color-stop(1, #A3A3A3)
	);*/
	/*background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #B3B3B3 100%, #A3A3A3 100%);
	background-repeat: no-repeat;*/
}

.code, .codeinput, .language-matlab {
	background: rgba(0, 0, 0, 0.04);
	border-left: 5px solid #BFC8FF;
	padding: 10px;
	border-radius: 3px;
    overflow: auto;
    box-shadow: -2px 0px 6px 0px #D6D6D6 inset;
}

.codeoutput {
	background: rgba(0, 0, 0, 0.04);
	border-left: 5px solid #CCCCCC;
	padding: 10px;
	border-radius: 3px;
    box-shadow: -2px 0px 6px 0px #D6D6D6 inset;
}

/*footer {
	padding-left: 350px;
	padding-top: 40px;
	color: #C4C4C4;
}*/

#docpart img {
	max-width: 630px;
}

/* I add an invisible empty crap before my header links so that the relative links don't "headbutt" the page */
h2 a{
	display: block; 
	position: relative; 
	top: -120px; 
	visibility: hidden;
}

footer{
	height:50px;
	width: 65%;
	margin: 0 auto;
	text-align:left;
	line-height:50px;
	color: rgba(255,255,255,0.4);

	
}

.content h1{
	text-align:left;
}
/* about */

.team-member-wrapper{
	width: 25%;
	box-sizing: border-box;
	float:left;
	padding:3%;
}

.member-portrait{
	height: 35%;
	background-size:cover;
	border:4px solid white;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.about-wrapper{
	width:80%;
	margin:0 auto;
  	position: relative;
}

.about-wrapper:after{
	padding-top: 60%;
  	/* 16:9 ratio */
  	display: block;
  	content: '';
}

.about-wrapper h1{
	padding-top:40px;
	font-weight: 200;
	font-size: 30px;
	margin-bottom:0;
	color: rgba(0,0,0,0.5);
}

#allbody.about{

	background-color:rgb(238,238,238);
	position:relative;
	min-height:1000px;
}

.member-name{
	margin-top:10px;
	font-size:15px;
	font-weight:200;
	text-transform:uppercase;
}

.member-range{
	margin-top:2px;
	font-size:13px;
	color: #146acf;
}

.about-wrapper .main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
} 

/* landing page */

.slide{
	
	padding-bottom:40%;
		background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom center;
   
}

.site_banner_slider{
	 min-width:800px;
}

.back-wrapper{
	content:' ';
	
	 position: absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
	
	
}

.slide h1{
	font-family: "Open Sans",sans-serif;
	position:absolute;
	padding:0;
	margin: 0;
	top:5%;
	left:0;
	width:100%;
	padding-left:17.5%;
	padding-right:17.5%;
	text-align:center;
	z-index: 1000;
	box-sizing:border-box;
	color:black;
	font-weight:200;
	font-size: 60px;
	letter-spacing:-2px;
	
}

#features_wrapper{
	width:40%;
	min-width:800px;
	margin: 0 auto;
}

#features_wrapper ul li{
	font-family: "Open Sans", sans-serif;
	list-style-type:none;
	color: rgba(255,255,255,0.9);
	padding:10px;
	font-size:20px;
	font-weight:200;
	text-align:left;
	margin-top:30px;
	position:relative;
}

#features_wrapper ul li:before{
	position:absolute;
	content: ' ';
	width: 50px;
	height:50px;
	top:0;
	left:-50px;
	background-image: url('assets/cube4.png');
	opacity:0.4;
}

#features_wrapper ul{
	margin-bottom:80px;
}

#features_wrapper ul li strong{
	
	font-weight:600;
}

#features_wrapper ul li > span{
	display:block;
	position:absolute;
	top:10px;
	left:-30px;
	color:white;
	font-weight:600;
}
#features_wrapper ul li > span.two_digit{
	left:-36px;
}

.code-chunk{
	color:black;
	width:auto;
	width:65% !important;
	min-width: 750px;
	font-size: 15px;
	margin-top:10px;
	-webkit-transition : border 200ms ease-in;
  -moz-transition : border 200ms ease-in;
  -o-transition : border 200ms ease-in;
  transition : border 200ms ease-in;
  
	border:1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	margin:0 auto;
	margin-top:20px;
}

.code-chunk:hover{
	border: 1px solid #16A086;
}

.intro_check_out{
	width: 40%;
	min-width:800px;
	margin: 0 auto;
	color:white;
	font-size:40px;
	font-weight:400;
	margin-top:20px;
	margin-bottom:40px;
	font-family: "Open Sans", sans-serif;
	
}

.get_started{
	font-family: "Open Sans", sans-serif;
	width: 300px;
	margin: 0 auto;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 25px;
	color: #16A086;
	font-weight:200;
	border-radius:800px;
	border:1px solid #16A086;
	text-align:center;
	letter-spacing:-1px;
	margin-top:40px;
	margin-bottom:80px;
	display:block;
	-webkit-transition : all 200ms ease-in;
  -moz-transition : all 200ms ease-in;
  -o-transition : all 200ms ease-in;
  transition : all 200ms ease-in;
	box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.3);
}

.get_started:hover{
	background-color: #16A086;
	color:white !important;
	box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.6);
}
.get_started:visited{
	color: #16A086;
}

.search_input{
	width:250px;
	float:right;
	margin-top:18px;
	
}

.search_input .gsc-control-cse {
    background-color: transparent !important;
    border-color: transparent !important;
    font-family: Arial,sans-serif;
}

.search_input .gsc-search-button-v2{
	background-color:#16a086;
	border:1px solid #16a086;
	
}

.search_input .gsc-search-button-v2:hover{
	background-color: black;
}

.slicknav_menu{
	display:none;
}

@media (max-width: 1100px) {
	body{
		overflow-x:hidden;
	}
	#cssmenu ul#menu{
		display:none;
	}
	
	.slicknav_menu{
		display:block;
	}
	#logo{
		min-width:0;
		width:100%;
	}
	#logo .innerwrapper {
	    margin: 0 auto;
	    min-width: 0;
	    width: 95%;
	}
	#allbody {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    /* optional */
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    align-items: flex-start;
	  }

	  #allbody #sidebarcontainer {
	    -webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	  }

	  #allbody .docpart {
	    -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	  }
        #sidebarcontainer{
		width:75%;

		box-sizing:border-box;

		margin-left:10px;
		margin-bottom:10px;
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
	#sidebar{
		width:100%;
		height:300px;	
	}
	#allbody{
		min-width:0;
		width:100%;
	}
	.docpart{
		max-width:1000000px;
		min-width:0;
		width:100%;
		padding-left:10px;
		padding-right:10px;
		box-sizing:border-box;	
	}

	#allbody table{

		min-width:0 !important;
	}
	footer{
		width:100%;	
	}
	.search_input {

	    margin-top: 14px;

	}
	.code-chunk {
	    min-width: 0px;
	    width: 90% !important;
	}
	#features_wrapper {
	    min-width: 0px;
	    width: 100%;
	    margin-left:10px;
		margin-right:10px;
		box-sizing:border-box;
	}
	
}

@media (max-width:600px) {
	.search_input {
	    clear: both;
	    float: right;
	    margin-top: 0px;
	    width: 100%;
	}

	#logo #logologo {
		width:100%;
		text-align:center;
		height: 45px;	
	}
	.slide h1 {
		font-size:35px;
		font-weight:400;
		padding:0;
	}

}


