.document table.summarytable a:link {
	color: #146acf;
	font-weight: bold;
	text-decoration:none;
}
.document table.summarytable a:visited {
	color: #146acf;
	font-weight:bold;
	text-decoration:none;
}
.document table.summarytable a:active,
.document table.summarytable a:hover {
	color: #285D63;
}
.document table.summarytable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	min-width: 635px;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.document table.summarytable th {
	padding:8px 20px 8px 10px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.document table.summarytable th:first-child {
	text-align: left;
	padding-left:10px;
}
.document table.summarytable th:last-child {
	text-align: left;
	padding-left:10px;
}
.document table.summarytable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.document table.summarytable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.document table.summarytable tr {
	text-align: left;
	padding-left:20px;
}
.document table.summarytable td:first-child {
	text-align: right;
	border-left: 0;
}
.document table.summarytable td {
	padding:5px 10px 5px 10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.document table.summarytable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.document table.summarytable tr:last-child td {
	border-bottom:0;
}
.document table.summarytable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.document table.summarytable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.document table.summarytable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
.document table.summarytable tr td p,
.document table.summarytable tr th p {
	font-size:14px;
	line-height:14px;
	margin: 5px;
}

.document table.summarytable{
	margin-bottom:20px;
}
